{
  "swagger": "2.0",
  "info": {
    "title": "sasohae",
    "description": "Description",
    "version": "1.0.0"
  },
  "host": "tniop.shop",
  "basePath": "/",
  "tags": [],
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/main": {
      "put": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/comments": {
      "put": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/money": {
      "put": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/gifts": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "selectedGift": {
                  "example": "any"
                },
                "giftTarget": {
                  "example": "any"
                },
                "giftEvent": {
                  "example": "any"
                },
                "sex": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                },
                "giftAnswerExpensive": {
                  "example": "any"
                },
                "giftAnswerPersonality": {
                  "example": "any"
                },
                "giftAnswerEmotional": {
                  "example": "any"
                },
                "giftAnswerTrendy": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/gifts/result": {
      "put": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "selectedGift_id": {
                  "example": "any"
                },
                "selectedGift": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/gifts/random": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/money/{menuQuestion}": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "menuQuestion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/menu": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "menuName": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/comments/{commentIdx}": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "commentIdx",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin/gifts": {
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "giftName": {
                  "example": "any"
                },
                "giftTarget": {
                  "example": "any"
                },
                "giftEvent": {
                  "example": "any"
                },
                "sex": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                },
                "giftAnswerExpensive": {
                  "example": "any"
                },
                "giftAnswerPersonality": {
                  "example": "any"
                },
                "giftAnswerEmotional": {
                  "example": "any"
                },
                "giftAnswerTrendy": {
                  "example": "any"
                },
                "giftLikeCnt": {
                  "example": "any"
                },
                "giftResultCnt": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin/gifts/questions": {
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "giftQuestion": {
                  "example": "any"
                },
                "giftQuestionType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/admin/money": {
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "moneyQuestion_id": {
                  "example": "any"
                },
                "moneyQuestion": {
                  "example": "any"
                },
                "positiveAnswerQuestion": {
                  "example": "any"
                },
                "negativeAnswerQuestion": {
                  "example": "any"
                },
                "positiveChangeValue": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin/menu": {
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "menuName": {
                  "example": "any"
                },
                "menuType": {
                  "example": "any"
                },
                "menuStyle": {
                  "example": "any"
                },
                "menuWith": {
                  "example": "any"
                },
                "menuLikeCnt": {
                  "example": "any"
                },
                "menuResultCnt": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "definitions": {}
}